*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TIRA O ESTILO DO TEXTO E COLOCA FUNDO NA BARRA*/
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*COLOCA NA POSIÇÃO DA ESQUERDA*/
li {
  float: right;
}

/*COLOCA O TEXTO NO CENTRO*/
li a {
  display: block;
  color: white;
  text-align: center;

  text-decoration: none;
  margin-top: 10px;
  margin-right: 25px;
}

img{
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fundo {
  background-image: url("../img/cafe.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}
